:root {
    --color-text: #cccccc;
    --color-text-special: #ffffff;
    --color-page: #1a1a1a;
    --color-page-special: #0A0A0A;
    --color-input: #252525;
    --color-input-special: #2A2A2A;
    --color-input-text: #cccccc;
    --color-input-text-special: #ffffff;
    --color-accent: #0070A0;
    --color-accent-special: #2090D0;
    --color-border: #303030;
}