$width-smaller: 200px;
$width-small: 400px;
$width-medium: 800px;
$width-large: 1200px;
$width-larger: 1600px;

$height-smaller: 80px;
$height-small: 120px;
$height-medium: 240px;
$height-large: 400px;
$height-larger: 800px;

$alignments: normal, stretch, center, start, end, flex-start, flex-end;
$justifications: normal, stretch, center, start, end, flex-start, flex-end, space-between, space-around, space-evenly;
$sizes: auto, none, smaller, small, medium, large, larger;
$text-alignments: start, end, center, justify;
$font-styles: normal, italic, oblique;
$colors: color-text,
    color-text-special,
    color-page,
    color-page-special,
    color-input,
    color-input-special,
    color-input-text,
    color-input-text-special,
    color-accent,
    color-accent-special,
    color-border,
    color-positive,
    color-neutral,
    color-negative,
    color-caution;
$positions: static, relative, fixed, absolute, sticky;
$displays: block, inline-block, none, flex, grid;
$overflows: visible, hidden, scroll, auto;
$cursors: alias, all-scroll, auto, cell, col-resize, context-menu, copy, crosshair, default, e-resize, ew-resize, grab, grabbing, help, move, n-resize, ne-resize, nesw-resize, ns-resize, nw-resize, nwse-resize, no-drop, none, not-allowed, pointer, progress, row-resize, s-resize, se-resize, sw-resize, text, w-resize, wait, zoom-in, zoom-out;

:root {
    /* Colors */
    --color-text: #333333;
    --color-text-special: #222222;
    --color-page: #ffffff;
    --color-page-special: #cccccc;
    --color-input: #cccccc;
    --color-input-special: #d6d6d6;
    --color-input-text: #000000;
    --color-input-text-special: #ffffff;
    --color-accent: #0070A0;
    --color-accent-special: #2090D0;
    --color-border: #dddddd;

    --color-positive: #28a745;
    --color-information: #007bff;
    --color-neutral: #6c757d;
    --color-negative: #dc3545;
    --color-caution: #ffc107;

    /* Spacing */
    --space-none: 0;
    --space-smaller: 4px;
    --space-small: 8px;
    --space-medium: 12px;
    --space-large: 16px;
    --space-larger: 20px;

    /* Sizing */
    --input-size: 2rem;

    /* Weight */
    --weight-none: 0;
    --weight-smaller: 1;
    --weight-small: 2;
    --weight-medium: 3;
    --weight-large: 4;
    --weight-larger: 5;

    /* Fonts */
    --font-family-regular: arial;
    --font-family-heading: arial;

    --font-weight-none: 0;
    --font-weight-smaller: 200;
    --font-weight-small: 300;
    --font-weight-medium: 400;
    --font-weight-large: 700;
    --font-weight-larger: 800;

    --font-size-none: 0;
    --font-size-smaller: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-larger: 1.25rem;

    /* Sizes */
    --width-none: 0;
    --width-auto: auto;
    --width-smaller: #{$width-smaller};
    --width-small: #{$width-small};
    --width-medium: #{$width-medium};
    --width-large: #{$width-large};
    --width-larger: #{$width-larger};

    --height-none: 0;
    --height-auto: auto;
    --height-smaller: #{$height-smaller};
    --height-small: #{$height-small};
    --height-medium: #{$height-medium};
    --height-large: #{$height-large};
    --height-larger: #{$height-larger};

    /* Borders */
    --border-width: 1px;
    --border: var(--border-width) solid var(--color-border);
    --border-radius: var(--space-small);

    /* Transition */
    --hover-transition-duration: 200ms;

    /* Opacities */
    --translucent-opacity: 0.5;
}